<?xml version="1.0" encoding="utf-8" ?>

<phpunit bootstrap="./Bootstrap.php" colors="true" beStrictAboutOutputDuringTests="false">
    <testsuites>
        <testsuite name="ZFTool Test Suite">
            <directory>./ZFToolTest</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>
</phpunit>
